# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# 数据和输出
/data/
/logs/
/output/


# 大文件
*.pth
*.pt
*.npy
*.npz
*.csv
*.h5
*.ckpt

# 环境和依赖
.env
.venv
*.egg-info/
.conda/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode/IDE
.vscode/
.idea/

# LaTeX编译文件
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.ps
*.eps
*.fot
*.cb
*.cb2
*.ptc
*.idx
*.ind
*.ilg
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.ist
*.loa
*.lol
*.lot
*.maf
*.mtc
*.mtc0
*.mlf
*.mlg
*.mp
*.nlg
*.nlo
*.nls
*.out
*.pla
*.plo
*.plt
*.plf
*.plg
*.plr
*.pls
*.plu
*.plv
*.plw
*.plx
*.ply
*.plz
*.pl1
*.pl2
*.pl3
*.pl4
*.pl5
*.pl6
*.pl7
*.pl8
*.pl9
*.pla
*.plb
*.plc
*.pld
*.ple
*.plf
*.plg
*.plh
*.pli
*.plj
*.plk
*.pll
*.plm
*.pln
*.plo
*.plp
*.plq
*.plr
*.pls
*.plt
*.plu
*.plv
*.plw
*.plx
*.ply
*.plz
